.config {
  ul {
    display: flex;
    flex-direction: column;
  }

  ul > li + li {
    margin-top: 10px;
  }

  &__select-wave {
    padding: 1px;
  }

  &__control-octave {
    & > button + button {
      margin-left: 10px;
    }
  }

  &__info {
    position: relative;
    top: 2px;
    text-transform: uppercase;
  }
}
