html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'menlo', 'Roboto Mono', 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', monospace, sans-serif;
}

body {
  background-color: var(--bg);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  --gb4-1: #243137;
  --gb4-2: #3f503f;
  --gb4-3: #768448;
  --gb4-4: #acb56b;
  background: var(--gb4-1);
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 16fr 11fr;
  grid-template-areas:
    'status control'
    'piano piano';
  column-gap: 20px;
  row-gap: 20px;
  width: 1000px;
  height: 600px;
  padding: 32px 36px 20px;
  color: var(--gb4-1);
}

button {
  padding: 2px 20px;
  border: 1px solid var(--gb4-2);
  background: var(--gb4-4);
  color: var(--gb4-1);
}

select {
  border: 1px solid var(--gb4-2);
  background: 1px solid var(--gb4-4);
  color: var(--gb4-1);
}

.window {
  position: relative;
  background: var(--gb4-4);
  border-radius: 12px;
  overflow: hidden;
  &__header {
    padding: 8px;
    text-align: center;
    background-color: var(--gb4-3);
  }

  &__body {
    height: calc(100% - 35px);
    padding: 20px;
  }
  &--status {
    grid-area: status;
  }
  &--control {
    grid-area: control;
  }
  &--piano {
    grid-area: piano;
  }
}
