html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'menlo', 'Roboto Mono', 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', monospace, sans-serif;
}

body {
  background-color: var(--bg);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  --gb4-1: #243137;
  --gb4-2: #3f503f;
  --gb4-3: #768448;
  --gb4-4: #acb56b;
  background: var(--gb4-1);
}

#app {
  width: 800px;
  height: 400px;
  background: var(--gb4-4);
  padding: 32px 36px 20px;
  color: var(--gb4-1);
}
