@mixin collapsed-border($color) {
  box-shadow: 2px 0 0 0 $color, 0 2px 0 0 $color, 2px 2px 0 0 $color,
    2px 0 0 0 $color inset, 0 2px 0 0 $color inset;
}

$major-border: var(--gb4-3);
$minor-border: var(--gb4-3);
$major-key-bg: var(--gb4-2);
$major-key-color: var(--gb4-4);
$minor-key-bg: var(--gb4-1);
$minor-key-color: var(--gb4-4);

.piano {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 20px 0px 40px;
  &__major {
    display: flex;
    flex: 2 0 auto;
    width: 100%;
  }

  &__minor {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
  }

  &__major-key {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    color: $major-key-color;
    @include collapsed-border($major-border);
    background: $major-key-bg;
    border: transparent;

    &.active {
      background: var(--gb4-1);
    }
  }

  &__minor-key {
    display: flex;
    flex: 1.5 0 0;
    align-items: center;
    justify-content: center;
    background: $minor-key-bg;
    @include collapsed-border($minor-border);
    border: transparent;
    color: $minor-key-color;
    &:nth-child(2),
    &:nth-child(7) {
      flex-grow: 1;
    }
  }
}
