@mixin collapsed-border($color) {
  box-shadow: 2px 0 0 0 $color, 0 2px 0 0 $color, 2px 2px 0 0 $color,
    2px 0 0 0 $color inset, 0 2px 0 0 $color inset;
}

.piano {
  position: relative;
  height: 100%;
  padding: 20px 0px 40px;
  &__major {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
  }

  &__minor {
    position: absolute;
    height: 55%;
    width: 100%;
  }

  &__major-key {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    color: inherit;
    @include collapsed-border(var(--ayy4-1));
    background: transparent;
    border: transparent;

    &.active {
      background: var(--ayy4-1);
    }
  }

  &__minor-key {
    height: 100%;
    width: 60px;
    color: var(--ayy4-4);
    background: var(--ayy4-1);
    @include collapsed-border(var(--ayy4-1));
    border: transparent;
    position: absolute;

    &:nth-child(1) {
      left: calc(11.1111% + 7%);
    }

    &:nth-child(2) {
      left: calc(22.2222% + 7%);
    }

    &:nth-child(3) {
      left: calc(44.4444% + 7%);
    }

    &:nth-child(4) {
      left: calc(55.5555% + 7%);
    }

    &:nth-child(5) {
      left: calc(66.6666% + 7%);
    }
  }
}
